* {
    text-align: center;
    font-family: 'Space Mono', monospace;
    color: black;
}

h1, h2, h3 {
    color:black;
}

p {
    color: black;
}

/* The nav bar on the left */
nav *{
    text-align: left;
}

a {
    color: red;
}
a:hover {
    color:blue;
}