/* The default styling for all unspecified selectors */
* {
    font-family: 'Space Mono', monospace;
    color: black;
}


/* ------ Media ------ */
a {
    color: red;
}
a:hover {
    color:blue;
}

figure {
    text-align: center;
}